<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="alert alert-success">
      <h4>Reset Link Sent</h4>
      <p>Check your email for a password reset link. Click the link to create a new password.</p>
    </div>
    <p><a href="/auth/login">Back to Login</a></p>
  </div>
</div>